@{
    ViewBag.Title = "About";
    Layout = "Shared/_layout.cshtml";
}

<h2>What is @ViewBag.ApplicationName?</h2>

<p>
    Ok, so maybe no one uses the term `serf` anymore but that's the name and you're going
    to like it, alright?
</p>
<p>
    techSerf is designed to give you better control over your devices, software and
    systems. It's entire purpose is to automate all the things. ALL THE THINGS! No
    seriously. All the things.
</p>
<p>
    Right now the focus is on the control piece. The mastermind, if you will. Device
    plugins will come later as part of a separate project that will allow for controlling
    and communicating with devices over Serial, IR, telnet, smoke signals, telephony,
    maybe some telekinesis, I don't know, but it's going to talk. I mean, I think you
    get the point. Right?
</p>
